[submodule "zsh/plugins/zsh-completions"]
	path = zsh/plugins/zsh-completions
	url = git@github.com:zsh-users/zsh-completions.git
[submodule "zsh/plugins/zsh-history-substring-search"]
	path = zsh/plugins/zsh-history-substring-search
	url = git@github.com:zsh-users/zsh-history-substring-search.git
[submodule "zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/plugins/zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git
[submodule "vim-config"]
	path = vim-config
	url = https://github.com/AdamWhittingham/vim-config.git
[submodule "zsh/plugins/zsh-github-copilot"]
	path = zsh/plugins/zsh-github-copilot
	url = https://github.com/loiccoyle/zsh-github-copilot.git
