"*":
  core:
    disabledPackages: [
      "markdown-preview"
    ]
    packagesWithKeymapsDisabled: [
      "dash"
    ]
    telemetryConsent: "no"
    warnOnLargeFileLimit: 10
  editor:
    fontSize: 12
    preferredLineLength: 120
  "exception-reporting":
    userId: "c51c3493-88d3-be92-fcf4-e01558d7db3c"
  linter: {}
  "linter-scss-lint": {}
  "linter-ui-default": {}
  "one-dark-ui": {}
  "platformio-ide-terminal":
    ansiColors:
      normal:
        blue: "#067fcd"
      zBright:
        brightBlue: "#1077ff"
    style:
      defaultPanelHeight: "20%"
      theme: "solarized-dark"
  "ruby-test":
    cucumberAllCommand: "dcra cucumber --color features"
    rspecFileCommand: "dcea rspec --tty {relative_path}"
    rspecSingleCommand: "dcea rspec --tty {relative_path}:{line_number}"
    shell: "zsh"
    specFramework: "rspec"
  "tree-view": {}
  "vim-mode-plus":
    useClipboardAsDefaultRegister: true
  welcome:
    showOnStartup: false
